body {
    font: 1.6em arial;
    padding: 0;
    margin: 0;
}
.header  {
    background-color: #333333;
    padding: 16px;
}
h1       {color: #dddddd; margin: 4px;}
h1 a:link {color: #cccccc; text-decoration: none;}
h1 a:visited {color: #cccccc; text-decoration: none;}
h1 a:hover {color: #dddddd; text-decoration: underline;}
.h1sub   {font-size: 18px;}

#post_confirm {padding: 18px;}
#post_confirm #quote {background-color: #cccccc; padding: 8px;
                      font-style: italic;}

#search_box {
    background-color: #666666;
}
#search_box input {margin: 2px}

#search_res {padding: 18px;}
#search_res td {padding: 8px;}
#search_res table   {width: 90%;}
#search_res td.text {width: 80%;}
#search_res td.link {width: 20%;}

.jbo_t   {color: #000000; font-family: Lucida Console, monospace;}
.eng_t   {color: #666666;}
.id      {font-size: 0.8em;}

.highlight {
    padding: 2px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.pagination span {
    border: rgb(221, 221, 221) solid 1px;
    display: block;
    float: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 34px;
    line-height: 20px;
    margin-left: -1px;
    padding: 6px 14px 6px 14px;
    width: 40px;
}

.pager_link    {
    border: rgb(221, 221, 221) solid 1px;
    display: block;
    float: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 34px;
    line-height: 20px;
    margin-left: -1px;
    padding: 6px 14px 6px 14px;
    width: 40px;
}
.pager_curpage {
    background-color: rgb(51, 122, 183);
    border-color: rgb(51, 122, 183);
    color: white;
    font-weight: bold;
}

.footer  {padding: 8px;}
